/*スマホ対応CSS*/

@media (max-width: 750px) {

/*サイズの設定*/

body,header, div, footer{
	max-width: 750px;
	width: 100%;
	font-family:'PT Mono', monospace, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

body{
  background: #000;
}

#content{
  max-width: 750px;
  width: 100%;
  padding: 0 20px;
  margin:0 auto;
  background: #000;
  color: #fff;
}

*{
  box-sizing: border-box;
}

/*文字色の設定*/
.red{
  color: #FE2E2E;
}

.green{
  color: #00FF00;
}

.yellow{
  color: #FFFF00;
}

.blue{
  color: #2EFEF7;
}

.gray{
  color: #D8D8D8;
}

/*ヘッダーメニューの設定*/
header{
  background-color: #2E2E2E;
  height:60px;
  position: fixed;
  top:0;
  z-index: 8;
}

.container{
  width: 100%;
  margin: 0 auto;
}

header p{
  float:left;
  color:#fff;
  font-size:24px;
  padding:18px 20px;
}

header a{
  color:#fff;
  text-decoration: none;
}

header a:hover{
  opacity: 0.6;
}

ul{
  float:right;
  list-style:none;
}

li a{
  display: none;
}


/*homeの設定*/

#home{
  width:100%;
  margin-bottom: 50px;
  height: 300px;
}

h1{
  font-size: 3em;
  color: #fff;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
}

#home p{
	font-size: 0.8em;
    line-height: 2;
    text-align: center;
}

/*aboutの設定*/

#about{
  margin-bottom: 150px;
}

h2{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 2px solid #fff;
}

#about h3{
	display: none;
}

h3{
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.5;
}

.hobbys{
  width:100%;
  margin-bottom:100px;
}

.hobby{
  margin:0 auto;
  text-align: center;
  padding:0 50px;
  margin-bottom: 75px;
}

.hobby img{
  display: inline-block;
  margin-bottom: 25px;
  width:130px;
}

h4{
  font-size: 25px;
  margin-bottom: 25px;
}

.hobby p{
  line-height: 150%;
  text-align: left;
  line-height: 2;
}

.clear{
  clear: both;
}

/*moviesの設定*/
#movie{
  margin-bottom: 150px;
}

.movie {
  width:100%;
  margin:0 auto;
}

.movie iframe{
  margin-bottom: 50px;
  width: 100%;
  height: 200px !important;
}

.adobe{
  margin-bottom: 50px;
  height: 130px;
}

.movie img{
  width: 50%;
  float: left;
  padding: 30px 50px;
}

.movie a:hover{
  opacity: 0.7;
}

.movie p{
  text-align: left;
  line-height: 150%;
  line-height: 2;
}

/*writingsの設定*/
#writings{
  margin-bottom: 75px;
}

.writing{
  text-align: center;
  float:left;
  padding:0 50px;
  margin-bottom: 75px;
}

.site-picture{
  height:100px;
  margin-bottom: 30px;
}

.writing img{
  width:80%;
  padding:0 10px;
  margin-bottom: 30px;
}

.writings-about{
  margin-bottom: 25px;
}

.writing p{
  text-align: left;
  line-height: 150%;
  margin-bottom: 10px;
}

.writing .writings-dsc{
  margin-bottom: 30px;
}

.writing a{
    text-decoration: none;
}

.writing a:hover{
  opacity: 0.7;
}

/*picturesの設定*/
#pictures{
  margin-bottom: 150px;
}

.pictures{
  margin-bottom: 50px;
}

.photo{
  padding: 15px;
  float: left;
  text-align: center;
}

.photo img{
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.photo p{
  text-align: left;
  line-height: 150%;
  margin-bottom: 10px;
}

.photo .name{
  font-size: 20px;
}


.photo .description{
  margin-top: -5px;
  font-size: small;
}

/*モーダルの設定*/
#mask{
  background: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

#mask.hidden{
  display: none;
}

#modal{
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  transition: .5s;
  z-index: 10;
}

#photo_modal{
  width: 100%;
  position: absolute;
}

#photo_modal img{
  width: 100%;
}

.button_modal{
  position: absolute;
  top: 80px;
  opacity: 0.5;
  cursor: pointer;
  width: 40px;
}


#left{
  left: 0;
}

#right{
  right: 0;
}

#modal.hidden{
  transform: translate(0, -900px);
}

#photo_modal.left{
  position: fixed;
  left: -900px;
  opacity: 0;
  transition: .5s;
}

#photo_modal.right{
  position: fixed;
  right: -900px;
  opacity: 0;
  transition: .5s;
}

/*codingsの設定*/
#codings{
  margin-bottom: 150px;
}

.source{
  text-align: center;
}

.source a img{
  width: 200px;
}

.source a img:hover{
  opacity: 0.6;
}

/*footerの設定*/
footer{
  height:40px;
  background-color: #2E2E2E;
  color:#fff;
}

footer p{
  padding:15px 10px;
  font-size: 10px;
}

/*フェードインの実装*/
.fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -ms-animation-duration:2s;
  animation-duration:2s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-40px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-40px); -ms-transform: translateY(-40px); transform: translateY(-40px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

}